
##################################################
# Metadata
##################################################
# Windows
desktop.ini
# OSX
.DS_Store

##################################################
# Binaries
##################################################
*.exe


# -*- mode: bash; -*-